body {
    margin: 20px 270px ;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header {
    background-color: #e4fbff;
    display: flex;
    margin-bottom: 0px;
}
hr {
    border-top: 3px solid #30475e;
    border-bottom: 0px;
    border-radius: 3px;
    width: 300px;
    margin-left: 1px;
}

img {
    border-radius: 80px;
    max-width: 100%;
    height: 130px;
    margin: 30px;
    border: 3px solid #11698e;
    /* border-color: crimson; */
}

.contact {
    background-color: #30475e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.logo {
    margin-right: 10px;
    font-size: 20px;
}
.Content {
    display: flex;
    justify-content: space-around;
    background-color: #f8f5f1;
}

.Education {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}

.Projects {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}

.Internships {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}
.Skills {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}
.Achievements {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}
.Certificates {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}

.Languages {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}

.Interests {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}