body {
 background-image: linear-gradient(to bottom, #18182c, #172439, #143044, #123c4e, #134855, #1b535d, #245d64, #2e686a, #397475, #438180, #4e8d8c, #599a97);
 background-repeat: no-repeat;
 height: 60vh;
}
